doctype
html(lang=config.language)
    head
        include head
    body(id="bge")
        script(src=url_for("js/bge/particles.min.js"))
        script(src=url_for("js/bge/run.js"))
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=theme.logo)
                include nav
            section.container
                block container
            footer
                block pagination
                block copyright
            link(rel="stylesheet", href=url_for("css/duoshuo.css"))
        include scripts
        